page-tabs {
    .saFlagIocn{
        background-repeat: no-repeat;
        background-position: 50%;
        height: 100%;
        background-image: url('../assets/imgs/SouthAfricaFlag.svg'); 
        background-size:contain;
      }

      .nigeriaFlagIocn{
        background-repeat: no-repeat;
        background-position: 50%;
        height: 100%;
        background-image: url('../assets/imgs/NigeriaFlag.svg'); 
        background-size:contain;
      }
}
