page-groupchat {
    ion-content {
        background-image: url('../assets/imgs/background.png');
        background-position: center;
        background-size: cover;
    }

    .messageinput{
        background-color: white;
        border-radius: 5px;
        color: black;
    }

    .card-content-md {
        padding: 3px 6px !important;
    }
}
